{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>Welcome to the Biscuit Factory Simulator</h1>

    <p>
        This interactive business simulation allows teams to manage a biscuit factory,
        make decisions, and compete for profit.
    </p>

    <div class="home-buttons">
        <a href="/teacher-login" class="btn teacher">Teacher Login</a>
        <a href="/team-login" class="btn">Team Login</a>
        <a href="/register" class="btn secondary">Register Team</a>
    </div>

</div>

{% endblock %}