<table id="teamperformanceTable">
            <thead>

            <tr>

            <th colspan="5" style="text-align:center;">💰 Financial Performance</th>

            <th colspan="4" style="text-align:center;">🏭 Production Performance</th>
            </tr>

            <tr>
            <th>Profit </th>
            <th>Gross Profit Margin </th>
            <th>Cash </th>
            <th>Remaining Investment </th>
            <th>Overheads </th>
            <th>Total Units Produced </th>
            <th>Total Units Sold </th>
            <th>Units Not Sold </th>
            <th>% Wastage </th>
            </tr>

            </thead>
            <tbody>
                {% for team in team_financials if team["id"]|string == current_team_id|string %}
                <tr class="my-team">

                <!-- Financials -->
                <td>£{{ team.cumulative_profit | round(0) }}</td>
                <td>{{ (team.margin * 100) | round(1) }}%</td>
                <td>£{{ team.cash | round(0) }}</td>
                <td>£{{ team.remaining_investment | round(0) }}</td>
                <td>£{{ team.overheads | round(0) }}</td>

                <!-- Production -->
                <td>{{ team.total_units_produced | round(0) }}</td>
                <td>{{ team.total_units_sold | round(0) }}</td>

                <td>
                {{ (team.total_units_produced - team.total_units_sold) | round(0) }}
                </td>

                <td>
                {% if team.total_units_produced > 0 %}
                {{ (((team.total_units_produced - team.total_units_sold) / team.total_units_produced) * 100) | round(1) }}%
                {% else %}
                0%
                {% endif %}
                </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>